In [22]:
import sklearn
import pandas as pd
import numpy as np

### Importantar o dataset
#### O arquivo precisa está na mesma pasta do notebook

In [23]:
dfs = pd.read_csv('dataset_suap_tecnico_integrado_monteiro.csv', sep=';'  , engine='python')

## Análise do conjunto de dados

### Analisando os primeiros valores e o cabeçalho

In [24]:
dfs.head()

,ID,Matricula,Ano letivo,Periodo Letivo,Periodo na Matriz,Codigo do Componente,Descricao do Componente,CH do Componente,Nota,% Frequencia,...,Faixa de Renda (SISTEC),Forma de Ingresso,Naturalidade,Nome da Escola de Origem,Periodo de Ingresso,Sexo,Situacao no Curso,Tipo Escola de Origem,Ultimo Ano/Periodo Letivo,Zona Residencial do Aluno
0,1828,201615500018,2016,1,1,TIN.0003,Artes,67,76,100,...,"0<RFP<=0,5",PSCT,Monteiro - PB,E.M.E.F.II Professora Maria do Socorro Aragao ...,1,F,Concluido,Publica,2018/1,Rural
1,1829,201615500018,2016,1,1,TIN.0022,Biologia I,67,75,99,...,"0<RFP<=0,5",PSCT,Monteiro - PB,E.M.E.F.II Professora Maria do Socorro Aragao ...,1,F,Concluido,Publica,2018/1,Rural
2,1830,201615500018,2016,1,1,TIN.0112,Educacao Fisica I,67,92,100,...,"0<RFP<=0,5",PSCT,Monteiro - PB,E.M.E.F.II Professora Maria do Socorro Aragao ...,1,F,Concluido,Publica,2018/1,Rural
3,1831,201615500018,2016,1,1,TIN.0086,Filosofia I,33,88,98,...,"0<RFP<=0,5",PSCT,Monteiro - PB,E.M.E.F.II Professora Maria do Socorro Aragao ...,1,F,Concluido,Publica,2018/1,Rural
4,1832,201615500018,2016,1,1,TIN.0125,Fisica I,67,89,100,...,"0<RFP<=0,5",PSCT,Monteiro - PB,E.M.E.F.II Professora Maria do Socorro Aragao ...,1,F,Concluido,Publica,2018/1,Rural

### Estatística dos valores dos dados

In [25]:
dfs.describe()

,ID,Matricula,Ano letivo,Periodo Letivo,CH do Componente,% Frequencia,Ano de Ingresso,Periodo de Ingresso
count,16204.000000,1.620400e+04,16204.000000,16204.0,16204.000000,16204.000000,16204.000000,16204.0
mean,13101.852197,2.017440e+11,2018.009689,1.0,62.216490,96.695322,2017.284189,1.0
std,7755.335180,9.943707e+07,0.967582,0.0,21.326628,9.024434,0.992918,0.0
min,26.000000,2.016155e+11,2016.000000,1.0,33.000000,0.000000,2016.000000,1.0
25%,6292.750000,2.017155e+11,2017.000000,1.0,33.000000,98.000000,2017.000000,1.0
50%,12981.500000,2.017155e+11,2018.000000,1.0,67.000000,100.000000,2017.000000,1.0
75%,19692.250000,2.018155e+11,2019.000000,1.0,67.000000,100.000000,2018.000000,1.0
max,26896.000000,2.020155e+11,2020.000000,1.0,133.000000,100.000000,2020.000000,1.0

### Tipos dos atributos

In [27]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16204 entries, 0 to 16203
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         16204 non-null  int64
 1   Matricula                  16204 non-null  int64
 2   Ano letivo                 16204 non-null  int64
 3   Periodo Letivo             16204 non-null  int64
 4   Periodo na Matriz          16204 non-null  object
 5   Codigo do Componente       16204 non-null  object
 6   Descricao do Componente    16204 non-null  object
 7   CH do Componente           16204 non-null  int64
 8   Nota                       16204 non-null  object
 9   % Frequencia               16204 non-null  int64
 10  Situacao no Diario         16204 non-null  object
 11  Ano de Ingresso            16204 non-null  int64
 12  Cor/Raca                   16204 non-null  object
 13  Cota MEC                   16204 non-null  object
 14  Cota SISTEC                16204 non-null  object
 15  Curso                      16204 non-null  object
 16  Data de Conclusao          16204 non-null  object
 17  Data de Nascimento         16204 non-null  object
 18  Faixa de Renda (SISTEC)    16204 non-null  object
 19  Forma de Ingresso          16204 non-null  object
 20  Naturalidade               16204 non-null  object
 21  Nome da Escola de Origem   16204 non-null  object
 22  Periodo de Ingresso        16204 non-null  int64
 23  Sexo                       16204 non-null  object
 24  Situacao no Curso          16204 non-null  object
 25  Tipo Escola de Origem      16204 non-null  object
 26  Ultimo Ano/Periodo Letivo  16204 non-null  object
 27  Zona Residencial do Aluno  16204 non-null  object
dtypes: int64(8), object(20)
memory usage: 3.5+ MB

## Análise de cada atributo

### Quantidade de instâncias de matrículas

In [26]:
dfs['Matricula'].nunique()

492

In [28]:
dfs['Ano letivo'].value_counts()

2019    6147
2018    5308
2017    3324
2016    1379
2020      46
Name: Ano letivo, dtype: int64

In [29]:
dfs['Periodo Letivo'].value_counts()

1    16204
Name: Periodo Letivo, dtype: int64

In [30]:
dfs['Periodo na Matriz'].value_counts()

1    8156
2    4877
3    2356
-     815
Name: Periodo na Matriz, dtype: int64

In [31]:
dfs['Codigo do Componente'].value_counts()

TIN.0014    565
TIN.0125    562
TIN.0001    536
TIN.0351    535
TIN.0124    532
           ...
TIN.0265      1
TIN.0994      1
TIN.0285      1
TIN.0980      1
TIN.0920      1
Name: Codigo do Componente, Length: 169, dtype: int64

In [32]:
dfs['Descricao do Componente'].value_counts()

Matematica I                                   565
Fisica I                                       562
Lingua Portuguesa e Literatura Brasileira I    536
Historia I                                     535
Quimica I                                      532
                                              ...
Instrumento II - Flauta Doce                     1
Classe de Instrumento III - Flauta Doce          1
Pratica de Conjunto I                            1
Instrumento III - Contrabaixo Acustico           1
Metodologia da Pesquisa Cientifica               1
Name: Descricao do Componente, Length: 165, dtype: int64

In [33]:
dfs['CH do Componente'].value_counts()

67     9795
33     4384
100    1882
133     143
Name: CH do Componente, dtype: int64

In [34]:
dfs['Nota'].value_counts()

70    614
-     613
80    581
83    556
76    556
     ...
8      13
1      11
5      11
14      9
2       7
Name: Nota, Length: 102, dtype: int64

In [35]:
dfs['% Frequencia'].value_counts()

100    9751
98     2287
95      813
93      519
96      507
       ...
28        1
29        1
19        1
8         1
37        1
Name: % Frequencia, Length: 90, dtype: int64

In [36]:
dfs['Situacao no Diario'].value_counts()

Aprovado                      12846
Cancelado                      1358
Reprovado                      1141
Aprovado - Retido na serie      859
Name: Situacao no Diario, dtype: int64

In [37]:
dfs['Ano de Ingresso'].value_counts()

2017    5790
2018    4167
2016    4034
2019    2167
2020      46
Name: Ano de Ingresso, dtype: int64

In [38]:
dfs['Cor/Raca'].value_counts()

Parda            7629
Branca           7405
Nao declarada     819
Preta             319
Indigena           32
Name: Cor/Raca, dtype: int64

In [39]:
dfs['Cota MEC'].value_counts()

Nao se aplica                                                                             10303
Oriundo de escola publica, com renda inferior a 1,5 S.M., declarado PPI                    2194
Oriundo de escola publica, declarado PPI                                                   1684
Oriundo de escola publica, com renda inferior a 1,5 S.M.                                   1309
Oriundo de escola publica                                                                   607
Oriundo de escola publica, declarado PCD                                                     61
Oriundo de escola publica, com renda inferior a 1,5 S.M., declarado PCD                      31
Oriundo de escola publica, com renda inferior a 1,5 S.M., declarado PPI, declarado PCD       15
Name: Cota MEC, dtype: int64

In [40]:
dfs['Cota SISTEC'].value_counts()

Nao se aplica             7262
Escola Publica            6561
Cor/Raca                  2124
Necessidades Especiais     257
Name: Cota SISTEC, dtype: int64

In [41]:
dfs['Curso'].value_counts()

551 - Tecnico em Instrumento Musical Integrado - Monteiro (CAMPUS MONTEIRO)                    6100
550 - Tecnico em Manutencao e Suporte em Informatica Integrado - Monteiro (CAMPUS MONTEIRO)    6024
552 - Tecnico em Edificacoes Integrado ao Ensino Medio - Monteiro (CAMPUS MONTEIRO)            4080
Name: Curso, dtype: int64

In [42]:
dfs['Data de Conclusao'].value_counts()

-             9763
11/12/2019     956
19/12/2019     763
12/12/2019     759
19/12/2018     704
21/12/2018     459
17/12/2019     430
18/12/2019     428
20/12/2018     353
16/12/2019     257
13/12/2019     206
26/12/2018     153
06/02/2020      67
25/01/2019      52
18/12/2018      52
10/01/2020      51
28/01/2020      51
20/12/2019      51
18/01/2019      51
04/02/2019      51
24/12/2018      50
08/01/2019      50
01/03/2019      50
04/02/2020      50
30/01/2019      50
04/06/2019      50
31/01/2019      50
23/01/2019      50
14/01/2020      49
13/02/2019      49
29/01/2019      49
Name: Data de Conclusao, dtype: int64

In [43]:
dfs['Data de Nascimento'].value_counts()

19/01/2001    164
26/03/2002    134
10/05/2001    128
18/12/2001    120
26/09/2001    107
             ...
23/06/2000     14
16/09/2000     14
17/03/2003     14
01/04/2001     14
13/06/1997      7
Name: Data de Nascimento, Length: 429, dtype: int64

In [44]:
dfs['Faixa de Renda (SISTEC)'].value_counts()

0<RFP<=0,5       12582
Nao declarado     1616
0,5<RFP<=1        1402
1,0<RFP<=1,5       413
1,5<RFP<=2,5       158
RFP>3,5             33
Name: Faixa de Renda (SISTEC), dtype: int64

In [45]:
dfs['Forma de Ingresso'].value_counts()

PSCT                                    13777
PSCT EEP (Inativa)                       1341
PSCT -  AMPLA CONCORRENCIA (Inativa)     1040
Transferencia Externa Ex-Oficio            39
Transferencia de Instituicao                7
Name: Forma de Ingresso, dtype: int64

In [46]:
dfs['Naturalidade'].value_counts()

Monteiro - PB                      10467
Sume - PB                           1818
Campina Grande - PB                  702
Sao Paulo - SP                       603
Joao Pessoa - PB                     225
Sertania - PE                        210
Arcoverde - PE                       188
Pesqueira - PE                       187
Guarulhos - SP                       183
Sao Jose do Egito - PE               157
Brasilia - DF                        156
Recife - PE                          120
Serra Branca - PB                    110
Congo - PB                            85
Sao Bernardo do Campo - SP            85
Caruaru - PE                          82
Rio de Janeiro - RJ                   67
Patos - PB                            54
Sao Mateus do Sul - PR                54
Jatauba - PE                          52
Braganca Paulista - SP                50
Valinhos - SP                         50
Sao Vicente - SP                      36
Eunapolis - BA                        35
Guarabira - PB                        35
Prata - PB                            35
Itaquaquecetuba - SP                  34
Paulo Afonso - BA                     34
Araras - SP                           33
Maua - SP                             32
Americana - SP                        32
Picui - PB                            31
Zabele - PB                           17
Sao Sebastiao do Umbuzeiro - PB       17
Francisco Morato - SP                 17
Carapicuiba - SP                      17
Suzano - SP                           17
Aroeiras - PB                         16
Tuparetama - PE                       16
Cabo de Santo Agostinho - PE          15
Petrolina - PE                        15
Itapetim - PE                         15
Name: Naturalidade, dtype: int64

In [47]:
dfs['Nome da Escola de Origem'].value_counts()

-                                                                                1613
Colegio Nossa Senhora de Lourdes                                                 1215
E.E.E.F. MIGUEL SANTA CRUZ                                                        906
Escola Agrotecnica de Ensino Fundamental Deputado Evaldo Goncalves de Queiroz     593
Instituto Educacional Jose Pereira do Nascimento                                  574
                                                                                 ...
E.M.F. II MARIA DO SOCORRO ARAGAO LIBERAL                                          15
E. M. E. F. II MARIA DO SOCORRO ARAGAO LIBERAL                                     15
E.E.E.F.M. PROFaMARIA CELESTE DO NASCIMENTO                                        14
CENTRO EDUCACIONAL AGUA AZUL - ESCOLA DO CAMPO                                     14
Escola Municipal Professor Jose Mendes                                              7
Name: Nome da Escola de Origem, Length: 179, dtype: int64

In [48]:
dfs['Periodo de Ingresso'].value_counts()

1    16204
Name: Periodo de Ingresso, dtype: int64

In [49]:
dfs['Sexo'].value_counts()

F    10757
M     5447
Name: Sexo, dtype: int64

In [50]:
dfs['Situacao no Curso'].value_counts()

Matriculado                 6905
Concluido                   6441
Transferido Externo         1907
Cancelado                    386
Evasao                       292
Transferido Interno          140
Cancelamento Compulsorio     133
Name: Situacao no Curso, dtype: int64

In [51]:
dfs['Tipo Escola de Origem'].value_counts()

Publica    13349
Privada     2855
Name: Tipo Escola de Origem, dtype: int64

In [52]:
dfs['Ultimo Ano/Periodo Letivo'].value_counts()

2020/1    7022
2019/1    5427
2018/1    3019
2017/1     574
2016/1     162
Name: Ultimo Ano/Periodo Letivo, dtype: int64

In [53]:
dfs['Zona Residencial do Aluno'].value_counts()

Urbana    13685
Rural      2519
Name: Zona Residencial do Aluno, dtype: int64